@model ThemePractice.DBConnection.States

<option value="">--- Select State ---</option>

@if(ViewBag.StatesList != null)
            {
                foreach(var item in ViewBag.StatesList)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            }