body {
  background-image: url("../images/13223563_5174860.jpg");
  background-repeat: round;
  background-attachment: fixed;
}

.card{
  background-color: transparent;
}

label {
  color: white;
}

/* .button animation css */
.button {
  position: relative;
  background: #000024;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 0.6rem 3rem;
  transition: 0.2s;
  box-shadow: 0 0 5px var(--clr);
}

.buttonRemove {
  padding: 0.5rem 3rem;
}

button, input, optgroup, select, textarea {
  font-weight: normal;
}

.button:hover {
  letter-spacing: 0.2rem;
  background: var(--clr);
  color: var(--clr);
  animation: box 3s infinite;
}

.buttonRemove:hover {
  padding: 0.5rem 2.7rem;
}

.buttonAdd:hover {
  padding: 0.6rem 2.85rem;
}

.buttonSubmit:hover {
  padding: 0.6rem 2.7rem;
}

.button::before {
  content: "";
  position: absolute;
  inset: 2px;
  background-color: #000024;
}

.button span {
  position: relative;
  z-index: 1;
}
.button i {
  position: absolute;
  inset: 0;
  display: block;
}

.button i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.button:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

.button i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.button:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}

input:invalid, textarea:invalid{
  border: 1.5px solid red;
  box-shadow: 0 0 10px red;

}