@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nunito+Sans:wght@600&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat&family=Nunito+Sans:wght@600&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat&family=Nunito+Sans:wght@600&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat&family=Nunito+Sans:wght@600&family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat&family=Nunito+Sans:wght@600;800&family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat&family=Nunito+Sans:wght@600;800&family=Poppins:wght@400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #E5E5E5;
}
/* sidebar css */
#Side_bar,
.bg-color {
    background: linear-gradient(180deg, rgba(101, 144, 255, 0.43) -6.06%, rgba(126, 154, 255, 0.47) 21.33%, rgba(197, 199, 255, 0.3) 50.12%, rgba(187, 176, 255, 0.409659) 75.6%, rgba(219, 202, 255, 0.96) 103.99%);
}

#main_content {
    background-color: #E5E5E5;
}

.nav_name.active {
    color: #2E43F8 !important;
}

.logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 23.8348px;
    line-height: 36px;
    letter-spacing: 0.25px;
    color: #1E2875;
}

.dashboard_padding_option_text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: #333333;
}

.Row {
    margin: 0;
}

.bg {
    background-color: white;
}

.Row3_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #000000;
}

.mobile {
    width: 5%;
}

.mobile .nav_name {
    display: none;
}

.mobile .nav_logo-name {
    display: none;
}

@media screen and (max-width:1200px) {

    .ula {
        padding-left: 0 !important;
        text-align: center;
    }

    #Side_bar .nav_name {
        display: none;
    }

    #Side_bar .nav_logo-name {
        display: none;
    }
}

@media screen and (max-width:1500px) {
    .ula {
        padding-left: 30px;
    }
}

td {
    padding: 25px;
}

.search-btn {
    width: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    background: #5630D3;
    border-radius: 4px;
}

.jane-cooper {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #000000;
}

.working-hour-txt {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.25px;
    color: #272830;
}

.working-hour-number {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.25px;
    color: #272830;
}

.leave-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #333333;
}

.leave-number {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0.25px;
}

.middle-headings {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #000000;
}

.table-1-headings {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #333333;
}

.bg-color {
    background: linear-gradient(91.37deg, rgba(101, 144, 255, 0.43) 13.98%, rgba(126, 154, 255, 0.47) 34.04%, rgba(197, 199, 255, 0.72) 55.12%, rgba(187, 176, 255, 0.409659) 73.79%, rgba(219, 202, 255, 0.96) 94.58%);
}

.table-1-data {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
}

.table-2-headings {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.table-2-data {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25px;
    color: #333333;
}

.green-color {
    color: #118507 !important;

}

.table-header {
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 26px;
    color: #000000;
}

.tab-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #272830;
}

.date {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.25px;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    color: #272830;
}

.name {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    color: #000000;
}

.subtext {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #272830;
}

.accordion-inner-headings {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #000000;

}

.accordion-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.25px;
}

.ui-ux-color {
    color: #5630D3;
}

.holidays-color {
    color: #808080;
}

.accordion-hr {
    border: 0.5px solid #EBEBEB;
    width: 100%;
    margin: 0;
}

.scheduled-post-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #9e9fac;
}

.convo-card-heading {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    color: #000000;
}

.convo-card-txt {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #272830;
}

.btn {
    padding: 0;
}

.accordion-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.25px;
    color: #333333;
}

.search-button-right {
    background-color: none !important;
    display: none;
}

@media screen and (max-width: 1000px) {

    .search-btn {
        display: none;
    }

    .jane-txt {
        display: none !important;
    }

    .search-button-right {
        display: inline-block;
    }

    .input-group {
        display: none;
    }

    .display-btn-0 {
        display: block;
        margin-top: 10px;
    }

}

.nav-link {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.25px;
    color: #333333;
}

.display-btn-0 {
    display: none;
}

a:active{
    background-color:rgba(101, 144, 255);
}
